{% extends 'base.html.twig' %}


{% block title %}Message envoyé{% endblock %}

{% block body %}


    <div class="d-flex justify-content-center align-item-center contenair-alert m-5" role="alert">
        <div class="alert alert-success message-confirm" >
            <p class="text-center my-5"> Félicitations, vous venez de vous inscrire sur w2w  <br> 
            Vous pouvez dès maintenant vous contecter en cliquant <a href="{{ path('app_login') }}">ici</a></p>
        </div>
    </div>

  
{% endblock %}
