@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#show_movie {
    background-color: #0E1111!important;
}

.small_font{
    font-size: 0.9rem;
}

.text-white{
    color: #4c5a67;
    font-family: 'Lato', sans-serif;
}

.text-grey{
    color: #989898;
    font-family: 'Lato', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

/* header descritpion movie */
.header_show_movie{
    height: 60vh;
   
}

#button_header_movie{
    width: 100%;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    height: 55vh;
    z-index: 1;
    background-color: #0E1111;
}

#button_header_movie:active{
    border: none;
    text-decoration: none;
    background-color: #0E1111;
}

#img_header_movie{
    width: 100%;
    background-position: center 45%;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    height: 60vh;
    z-index: 2;
    margin-top: 135px;

}

#logo_play_video{
    color: #1dd1a1;
    width: 6rem;
    position: relative;
    bottom: 20rem;
    z-index: 3;
}

#video_header{
    position: absolute;
    display: none;
    z-index: 6;
    width: 560px ;
    height: 315px;
}

/* partie descritpion movie */
.icon_plateforme_show_movie{
    width: 4rem;
    border-radius: 5px;
}

#descriptif_movie{
    position: relative;
    bottom: 3rem;
    z-index:2;
    background-color: #1e272e;
    border-radius: 2%;
}

.descriptif_right_movie{
    padding-top: 2rem
}

.container_img_affiche{
    height: 450px;
    width: 300px;
}

#img_affiche_movie{
    height: 450px;
    width: 300px;
    padding-top: 2rem ;
}

.ou_regarder{
border: 2px solid #1dd1a1;
border-radius: 10px;
}

.btn_movie_show .btn{
    margin-top: 3rem;
  
}