#container-carousel{
    padding-top: 10%;
    background: url("../images/Tenet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 358PX;
}

#imgFilm{
    padding-top: 10%;
    background: url("../images/camera-219958_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


