{% extends 'base.html.twig' %}


{% block title %}Nous contacter{% endblock %}



{% block body %}


    {# <h1 class="text-center">Nous contacter</h1> #}

    <p class="text-center my-3">Vous souhaitez nous contacter, merci de remplir ce formulaire</p>

    {{ include('contact/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <p class="d-flex justify-content-center">
        <a href="{{ path('contact_index') }}" class="text-center">Voir les emails envoyés</a>
        </p>
    {% endif %}

   
{% endblock %}
