{% extends 'base.html.twig' %}


{% block title %}New Contact{% endblock %}

{% block body %}


<div class="d-flex justify-content-center align-item-center contenair-alert m-5" role="alert">
   <div class="alert alert-success message-confirm" >
        <p class="text-center my-5"> Votre message a été envoyé avec succès. <br> 
        Nous vous remercions de votre confiance.</p>
    </div>
 </div>

  
{% endblock %}
