<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <p>Bonjour {{ firstname | capitalize }} {{ lastname | capitalize }}, </p>
    <p>Nous vous remercions pour votre inscription sur le site <a href="">w2w</a></p>
   
    <p>Vous pouvez dès maintenant vous connecter à votre espace client avec les informtions suivantes: </p>
        <ul>
            <li>Votre identifiant: {{ user }}</li>
            <li>Mot de Passe: {{ password }}</li>
        </ul>

    <p> Toute l'équipe de w2w vous remercie de votre confiance. </p>
    <p>
        Cordialement, <br>
        L'équipe W2W (Wath2Watch)
    </p>
</body>
</html>

